@page
@model IndexModel
@{
    ViewData["Title"] = "Auto Slack Emoji ShipIt";
}

<form method="post" enctype="multipart/form-data">
    <div class="text-center">
        <h1 class="display-4">Welcome to Auto Slack Emoji ShipIt</h1>
        Select your photo for Emoji Generation
        <p><input type="file" asp-for="UploadContent" /></p>
        <p><input type="submit"/></p>
    </div>
</form>
